#exampleTextarea{
  font-size: 0.9rem;
  
}

textarea{
  background-color: #a9bdbd;
}

.row{
  border: 3px solid red;
  flex: auto;
}
.col-6{
  border: 2px solid green;
}

html {
  scroll-behavior: smooth;
 }